.Carousel {
    position: relative;
    display: grid;
    width: 100%;
    background-color: #ccc;
    border: 0px solid #ccc;
    border-radius: 5px;
    overflow: hidden;

    .nextBtn {
        display: inline-block;
        position: absolute;
        right: 0%;
        height: 100%;
    }
}