@keyframes movingLeftOutside {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -200%;
    }
}

@keyframes movingLeftInside {
    0% {
        margin-left: 200%;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes movingRightOutside {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: 200%;
    }
}

@keyframes movingRightInside {
    0% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

.Slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
